@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  font-family: "Poppins", sans-serif;
}
.navigation-scroll::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.navigation-scroll::-webkit-scrollbar-track {
  background: rgb(237, 237, 237);        /* color of the tracking area */
}

.navigation-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
.menu-content-windows{
  left: -260px !important;
}
.main-content-windows{
  padding-left: 0 !important;
}
.menu-content {
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.433);
}
.table-modal tbody tr:nth-child(odd){
  background-color: #f0f0f0;
}
@media (min-width: 768px) {
  .menu-content{
    width: auto;
    background-color: transparent;
  }
}