@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  font-family: "Poppins", sans-serif;
}
input,button,textarea,select{
  outline: none;
}
[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: .5rem .5rem;
  background-repeat: no-repeat !important;
  background-position: 50%;
}
[type="checkbox"]:checked{
  background-image: url(/icons/checked.svg);
}
.menu-content-windows{
  left: -260px !important;
}
.main-content-windows{
  padding-left: 0 !important;
}
.menu-content {
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.433);
}
.table-modal tbody tr:nth-child(odd){
  background-color: #f0f0f0;
}
@media (min-width: 768px) {
  .menu-content{
    width: auto;
    background-color: transparent;
  }
  /* .menu-content-windows{
    left: 0 !important;
  } */
}